// Arabic Fonts
@font-face {
  font-family: 'Cairo-Bold';
  font-weight: 400;
  src: url('../assets/fonts/Cairo-Bold.ttf');
}

@font-face {
  font-family: 'Cairo-SemiBold';
  font-weight: 400;
  src: url('../assets/fonts/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: 'Cairo-Regular';
  font-weight: 400;
  src: url('../assets/fonts/Cairo-Regular.ttf');
}
