.image-uploader {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  border-radius: 10px !important;
}

.search-button {
  background: unset;
  border: unset;
  cursor: pointer;
}

.clear-search {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #929292;
}

.filterMenu {
  max-height: 450px;
  overflow: auto;
}

.cell-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.pagination {
  margin-top: 15px;
}
